@import url("https://fonts.googleapis.com/css2?family=Lato&family=Monoton&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Monoton', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILS */
body {
  font-family: "Lato", sans-serif;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: column;
}

/* TOP PART OF NAV */
.topNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #000;
  color: #fff;
  height: 2rem;
  padding: 0 0 0 2rem;
}

.basketLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 200px;
}

.loginDiv,
.cartDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background: rgb(133, 42, 42);
  color: #fff;
  font-size: 0.9rem;
}

.loginDiv span {
  margin-left: 10px;
}

.cart {
  width: 70%;
  margin: 1rem auto;
  min-height: 70vh;
}

.cartDiv {
  background: yellow;
  color: #000;
}

.cartDiv span {
  margin-left: 10px;
}

/* ITEMS IN CART */
.cartItem {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 1rem;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.qtyInputDiv {
  display: flex;
  flex: 1;
}

.qtyInput {
  width: 25%;
}

.qtyInputDiv button {
  width: 15%;
}

.cartItem p {
  flex: 1;
}

.cartItemImg {
  flex: 1;
  height: 200px;
  padding: 0.3rem 0;
}

.cartItemImgModal {
  height: 100%;
  width: 100%;
}

.cartItemImgCart {
  height: 100%;
  width: 80%;
}

.cartTotalPrice {
  color: #000;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.checkoutBtn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem 0;
}

.checkoutBtn button {
  padding: 10px;
  background: yellow;
  border: 1px dotted rgba(0, 0, 0, 0.25);
}

/* MODAL */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  width: 50%;
  height: 70%;
  border-radius: 20px;
  overflow: auto;
  position: relative;
  padding: 1rem 0;
}

.modalContent {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.closeModalBtn {
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 20px;
  padding: 10px;
  background: #333;
  color: #f7f7f7;
}

.addToCartModalContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.addToCartModalContentItem {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.addToCartModalContentButtons {
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.addToCartModalContentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  width: 40%;
  height: 28%;
  padding: 10px;
  background: #f39c12;
}

/* BOTTOM PART OF NAV */
.bottomNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  height: 4rem;
  font-size: 1.2rem;
  position: relative;
}

.bottomNav p {
  font-family: "Monoton", cursive;
  font-size: 2rem;
  font-weight: 550;
}

.activeUnderline {
  position: relative;
}

.activeUnderline::after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* nav links */
.nav-links {
  display: flex;
}

.nav-links li {
  margin: 0 0.5rem;
}

.nav-links li a {
  margin-right: 1.5rem;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -10%;
  width: 150px;
  z-index: 1;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 0;
  padding: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.burgerMenu {
  display: none;
}
/* search bar */
.searchDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
}

.searchBar {
  outline: none;
  border: none;
  height: 100%;
  border-bottom: 2px solid #000;
  margin: 0 5px 0 0;
  padding: 5px;
  width: 60%;
  font-size: 1rem;
}

.searchForm button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.suggestionDiv {
  position: absolute;
  background: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 800;
  max-height: 4rem;
  max-width: 70%;
  overflow: auto;
  top: 80%;
  z-index: 999;
}

.suggestionDiv ul li {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* HERO IMAGE */
.slider {
  position: relative;
  margin: 0 auto;
  height: calc(100vh - 7rem);
  width: 90%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide.current {
  opacity: 1;
}

/* CAROUSEL */
.mainCarouselDiv {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
}

.carouselBtnDiv {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselBtnDiv button {
  background: transparent;
}

.carouselSection {
  position: relative;
  overflow: hidden;
  height: 100%;
  flex: 2;
}

.carouselContainer {
  position: relative;
  height: 100%;
}

.carousel {
  display: flex;
  position: absolute;
  left: 0;
  height: 100%;
}

/* PRODUCTS */
.productsAndFilter {
  display: flex;
  width: 95%;
  margin: 0 auto;
}

.filter {
  width: 15%;
  padding-top: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.filterListItem {
  text-transform: capitalize;
  width: 80%;
  padding: 2px;
}

/* FILTER SECTION OF PRODUCTS PAGE */
.productsAndPagination {
  width: 85%;
  padding: 1rem 0 0 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dotted rgba(0, 0, 0, 0.2);
}

.productImg {
  height: 250px;
  margin: 10px 0;
}

.productName {
  height: 15%;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 0;
}

.productPrice {
  background: rgba(95, 104, 231, 0.705);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 500;
}

.consoles {
  display: flex;
  width: 90%;
  padding: 10px 0;
}

.consoleLogo {
  width: 30px;
  height: 30px;
  margin-left: 15px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.pagesButtons {
  display: flex;
  align-items: center;
}

.pagesButtons button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0 5px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 1rem;
}

.filterBtns {
  width: 80%;
  padding: 1rem;
  background: #333;
  color: #fff;
}

/* Single Item */
.singleItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}

.singleItemInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2rem;
  font-size: 1.3rem;
}

.singleItemInfoAddToCartBtn {
  display: block;
  width: 40%;
  background: gold;
  outline: none;
  border: none;
  padding: 10px;
  margin: 1rem 0;
  cursor: pointer;
}

.singleItemQty {
  display: flex;
  margin: 1rem 0;
}

.singleItemQty div {
  display: flex;
}

.qtyBtn {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  margin: 0 0.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: #777;
}

.singleItemInfo h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

.consoleLogoSingleItem {
  height: 20px;
  width: 20px;
}

.singleItemSimilarContent {
  height: 500px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.singleItemSimilar {
  height: 70%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1rem 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.singleItemFeaturedProduct {
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.singleItemContent {
  flex: 3;
  display: flex;
}

/* BUNDLE SECTION */
.bundles {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 0px 10px rgba(0, 0, 0, 0.23);
  padding: 2rem 0;
  margin: 1rem auto;
  max-width: 90%;
}

.bundlesContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.bundlesContainer img {
  flex: 1;
}

.bundlesContent {
  flex: 1.5;
  font-size: 1rem;
}

.bundlesContent h3 {
  font-size: 2rem;
  padding: 2rem 0 1rem;
}

.bundlesContent p {
  padding: 0 3rem 2rem 0;
}

.bundlesContent a {
  color: #000;
  font-size: 1rem;
}

/* SERVICE SECTION */
.servicesSection {
  background: #323233;
  color: #fff;
  margin-top: 2rem;
  padding: 2rem 0;
}

.servicesContainer {
  width: 80%;
  margin: 0 auto;
}

.servicesContainer > h3 {
  text-align: center;
  font-size: 1.9rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.servicesContainer > h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fff;
}

.services {
  padding: 1rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}

@media (max-width: 700px) {
  /* TOM NAV */
  .basketLogin {
    font-size: 0.5rem;
  }

  /* BOTTOM NAV */
  .bottomNav p {
    flex: 1;
    text-align: center;
  }

  .searchDiv {
    flex: 1;
  }

  .burgerMenu {
    display: block;
    font-size: 2rem;
    flex: 1;
  }

  .nav-links {
    display: none;
  }

  /* HERO */
  .slider {
    width: 100%;
    height: calc(100vh - 20rem);
    overflow: hidden;
  }

  /* FEATURED CAROUSEL */
  .mainCarouselDiv {
    max-width: 90%;
  }

  /* SINGLEITEM */
  .singleItem {
    grid-template-columns: 1fr;
  }

  /* PRODUCTS */
  .productsAndFilter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filter {
    width: 50%;
    border-right: none;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .product {
    max-height: 450px;
  }

  .productsAndPagination {
    padding: 1rem 0 0 0;
  }
  /* BUNDLES */
  .bundles {
    padding: 2rem 0;
    margin: 1rem auto;
    max-width: 75%;
  }

  .bundlesContainer {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bundlesContent h3 {
    font-size: 2rem;
    padding: 0;
  }

  /* SERVICES */
  .services {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
